:root {
  --dark: #333333;
  --dark-shadow: #33333333;
  --grey800: #808080;
  --grey600: #999999;
  --grey400: #d9d9d9;
  --grey200: #bababa33;
  --light: #f1f1ea;
  --white: #ffffff;
  --pink: #e2c9c9;
  --red: #d07777;
}
